/*     main-aqua #4eb7ca; */



body{
    color: #343434;
    top: 70px;
    overflow-x: hidden;
    text-align: justify;
    text-justify: inter-word;
}

.header-div{
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin-right: 0;
    margin-left: 0;
}

a:hover{
    color: black !important;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

.navbar{
    background-color: white;
    color: #818181;
    height: auto;
    border-bottom-width: 1px;
    border-color: #818181;
}

.navbar-right {
    height: auto;
}
.page-header, .page-header>small, .breadcrumb, .breadcrumb>li, .breadcrumb>li>a{
    background-color: #4eb7ca;
    color: white !important;
    padding: 10px 0px 10px 10px;
    text-align: center;
    z-index: 10;

}


.navbar-logo{
    height: 100px;
    top: 0px;
    margin-top: 0px;
    margin-left: auto;
}

.nav{
    margin-left: auto;
    margin-right: auto;
}
.nav > li > a{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 25px;
}

.nav > li > a:hover{
    color: black !important;

}



#main-container{
    margin-top: 0px;
    top: -10px;
}

.text-block > h3{
    color: black;
}
.text-block > p{
    font-size: 17px;
}

#img-poznaj-nas{
    border: solid #818181 2px;
}


#media-container{

    padding-top: 40px;
}
#media-container div{
    min-height: 150px;
}






/** HOVER ANIMATIONS **/
/* Push */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.kwadrat{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    color: white;
    background-color: #4eb7ca !important;
    border-radius: 20%;

    text-align: center;
}

.kwadrat>h4{
    padding-top: 100px;
}





.kariera-step>div{
    text-align: center;
    background-color: #4eb7ca;
    color: #000000;
    margin-bottom: 30px;
    border: solid white 10px;
    background-size:cover;
    background-position:center;
    position:relative;
    min-height: 450px;

}
.kariera-image{
    width: auto;
    height: 200px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#kariera-handlowiec{
    max-height: 250px;
    max-width: 250px;
    padding-left: auto;
    padding-right: auto;
}

#kariera-software .kariera-image{
    background-image: url("../image/kariera/software.jpg");
}

#kariera-trade .kariera-image{
    background-image: url("../image/kariera/trade.jpg");
}

#kariera-media .kariera-image{
    background-image: url("../image/kariera/media.jpg");
}

#kariera-team .kariera-image{
    background-image: url("../image/kariera/team.jpg");
}

.kariera-step>div>p{
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.kariera-step>div>h3{
    background-color: #000bff;
    margin: 0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#mail-address{
    font-size: 20px;
}

#map{
    border-width: 2px;
    border-color: #4eb7ca;
    border-style: solid;
}

.slajder{
    text-align: center;
    display: none;
}

.slajder-text{
    font-size: 18px;
    margin-top: 90px;
    margin-bottom: 30px;

}

.slajder-text>h3{
    font-size: 22px;
    margin: 0;
    color: black;
}
.slajder-text>p{
    font-style: italic;

}
.slajder>div>img{
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.fadeIn{
    opacity: 0;
    animation: fadeIn 1.0s ease-in 1 forwards;
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
.fadeOut{
    opacity: 1;
    animation: fadeOut 1.0s ease-in 1 forwards;
}

.no-top-margin>div{
    top: -40px;
    margin-bottom: 0px;

}

.map-header>div>h2{
    padding-top: 100px;
}

.meet-us>h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
    color: #4eb7ca;
    padding-bottom: 25px;
    border-bottom: solid #4eb7ca 2px;
    margin-bottom: 50px;
}

.photo{
    border-bottom: solid #4eb7ca 5px;
}

#team-image{
    border-bottom: solid #4eb7ca 30px;
}

#co-robimy{
    text-align: center;
    margin-bottom: 20px;
}

.customer-img-div{
    position: relative;
    min-height: 100px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.customer-img {

    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.thumbnail{
    background-color: #4eb7ca;
    color: white;
}
.thumbnail img{
    width: 100%;
}

#img-container{
    text-align: center;
}
#img-container img{
    max-width: 150px;
    display: inline-block;

}

.thumbnail .caption h3{
    color: white;
}
.thumbnail .caption h3 small{
    color: #bfe6e9;
}

.etap{
    text-align: center;
    padding: 10px;
    background-color: #4eb7ca;
    border: solid white 15px;
    color: white;
}
.etap h3{
    height: 40px;
}

#circle-1{
    color: #000bff;
}

#circle-2{
    color: #ff5900;
}

#circle-3{
    color: #ff0066;
}

#circle-4{
    color: #25fc00;
}




.about-us>h2{
    color: black;
    font-size: 40px;
    margin-top: 0px;
    position: relative;
    top: -5px;
}



.about-us>p{
    color: #343434;
    font-size: 20px;
    margin-bottom: 25px;
}

#contact-row{
    padding-top: 30px;
}
#contact-details{
    margin-top: 100px;
    padding-top: auto;
    padding-bottom: auto;
}

.logo{
    height: 61px;
    width: auto;
    margin-top: 3px;
    margin-left: 5%;
}


.navbar-toggle{
    color: black;
    background-color: #4eb7ca;
    height: 55px;
    width: 55px;
    text-align: center;
}
.icon-bar{
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    color: black;
    background-color: #4eb7ca;
}
.navbar-right{
    margin-top: 0px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover{

    height: 40px;
    background-color: white;

}


/* %%%%%%%%%%%%%%%% MAP %%%%%%%%%%%%%%%%% */

.over-map{
    margin-bottom: 0 !important;
    border-bottom: none !important;
}
#our-map{
    height: 500px;
}
.map-row{
    margin-top: 20px;
    border: solid gray 1px;
    -webkit-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.75);
}



.map-container{
    margin-top: 0;
    padding: 0;
}
.map-description{
    color: #4eb7ca;
    font-weight: 700;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#map-description-yesterday{
    display: block;
    font-weight: 600;
}
#map-description-today{
    font-weight: 700;
}
#map-description-tomorrow{
    font-weight: 800;
}



.map-container div{
    margin-left: 0;
    margin-right: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.yesterday{
    background: url('../image/map/3.jpg');

}
.today{
    background: url('../image/map/2.jpg');
}
.tomorrow{
    background: url('../image/map/1.jpg');
}



@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}




#img-praca{
    max-height: 500px;
}


.row[id=categories-buttons]{
    text-align: center;
}
.row[id=categories-buttons] > div > button{
    background-color: #4eb7ca;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    width: 200px;
    height: 80px;
    margin-top: 30px;
    border: solid #b5b5b5 1px;

    -webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .row[id=categories-buttons] > div > button {
        font-size: 15px !important;
        width: 150px;
        height: 65px;
    }

}

@media screen and (max-width: 480px) {
    .row[id=categories-buttons] > div > button {
        font-size: 10px !important;
        width: 100px;
        height: 50px;
    }

}



.row[id=categories-buttons] > div > button:active{
    background-color: #3465a8;
    border: none;
}
.row[id=categories-buttons] > div > button:hover{
    background-color: #448ce0;
}

button:focus {outline:0;}
.people > div{
    color: white;
    margin: 0;
    overflow: auto;
}

.people-image{
    margin-top: 20px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    border: solid #3465a8 2px;
}
.description{
    position: relative;
    top: -3px;
    background-color: #3465a8;
    text-align: center;
    overflow: auto;
}
.description > h4{
    margin: 5px;
    font-weight: 700;
}

.people{
    display: none;
}