/*     main-aqua #4eb7ca; */



body{
    color: #818181;
    top: 70px;
    overflow-x: hidden;
}

.header-div{
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a:hover{
    color: black !important;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

.navbar{
    background-color: white;
    color: #818181;
    height: 50px;
    border-bottom-width: 1px;
    border-color: #818181;
}

.page-header, .page-header>small, .breadcrumb, .breadcrumb>li, .breadcrumb>li>a{
    background-color: #4eb7ca;
    color: white !important;
    padding: 10px 0px 10px 10px;
    text-align: center;


}

.navbar-logo{
    height: 50px;
    top: 0px;
    margin-top: 0px;
}

.nav > li > a:hover{
    color: black !important;

}



#main-container{
    margin-top: 0px;
    top: -10px;
}

.text-block > h3{
    color: black;
}
.text-block > p{
    font-size: 17px;
}

#img-poznaj-nas{
    border: solid #818181 2px;
}


#media-container{

    padding-top: 40px;
}
#media-container div{
    min-height: 150px;
}




/** HOVER ANIMATIONS **/
/* Push */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.kwadrat{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    color: white;
    background-color: #4eb7ca !important;
    border-radius: 20%;

    text-align: center;
}

.kwadrat>h4{
    padding-top: 100px;
}

#kwadrat1{

    background-color: red;

}
#kwadrat2{
    background-color: blue;
}
#kwadrat3{
    background-color: purple;
}
#kwadrat4{
    background-color: orange;
}




connection{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 5px solid #818181;
    border-radius: 100%;
    z-index: -1;
}


.kariera-step>div{
    text-align: center;
    background-color: #4eb7ca;
    color: white;
    margin-bottom: 30px;
    border: solid white 10px;
    background-size:cover;
    background-position:center;
    position:relative;
    min-height: 420px;
}
.kariera-image{
    width: auto;
    height: 200px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#kariera-handlowiec{
    max-height: 250px;
    max-width: 250px;
    padding-left: auto;
    padding-right: auto;
}

#kariera-software .kariera-image{
    background-image: url("../image/kariera/software.jpg");
}

#kariera-trade .kariera-image{
    background-image: url("../image/kariera/trade.jpg");
}

#kariera-media .kariera-image{
    background-image: url("../image/kariera/media.jpg");
}

#kariera-team .kariera-image{
    background-image: url("../image/kariera/team.jpg");
}

.kariera-step>div>p{
    padding: 5px;
}

.kariera-step>div>h3{
    background-color: #000bff;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#map{
    border-width: 2px;
    border-color: #4eb7ca;
    border-style: solid;
}

.slajder{
    text-align: center;
    display: none;
}

.slajder-text{
    font-size: 18px;
    margin-top: 90px;
    margin-bottom: 30px;
    height: 300px;
}

.slajder-text>h3{
    font-size: 22px;
    margin: 0;
    color: black;
}
.slajder-text>p{
    font-style: italic;

}
.slajder>div>img{
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.fadeIn{
    opacity: 0;
    animation: fadeIn 1.0s ease-in 1 forwards;
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
.fadeOut{
    opacity: 1;
    animation: fadeOut 1.0s ease-in 1 forwards;
}

#under_slajder>div{
    top: -40px;
}


#co-robimy{
    text-align: center;
    margin-bottom: 20px;
}

.customer-img-div{
    position: relative;
    min-height: 100px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.customer-img {

    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.thumbnail{
    background-color: #4eb7ca;
    color: white;
}
.thumbnail img{
    width: 100%;
}

#img-container{
    text-align: center;
}
#img-container img{
    max-width: 150px;
    display: inline-block;

}

.thumbnail .caption h3{
    color: white;
}
.thumbnail .caption h3 small{
    color: #bfe6e9;
}

.etap{
    text-align: center;
    padding: 10px;
    background-color: #4eb7ca;
    border: solid white 15px;
    color: white;
}
.etap h3{
    height: 40px;
}

#circle-1{
    color: #000bff;
}

#circle-2{
    color: #ff5900;
}

#circle-3{
    color: #ff0066;
}

#circle-4{
    color: #25fc00;
}


#contact-row{
    padding-top: 30px;
}
#contact-details{
    margin-top: 100px;
    padding-top: auto;
    padding-bottom: auto;
}

.logo{
    height: 40px;
    width: auto;
    margin-top: 3px;
    margin-left: 50px;
}


.navbar-toggle{
    color: black;
    background-color: #4eb7ca;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    color: black;
    background-color: #4eb7ca;
}
.navbar-right{
    margin-top: 0px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover{

    height: 40px;
    background-color: white;

}


/* %%%%%%%%%%%%%%%% MAP %%%%%%%%%%%%%%%%% */

.map{
    max-height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#map-poznan{
    display: block;
}

/*

.map-background-poznan{
    background-size: 5000px auto !important;
    background-position: -2700px -1450px;
    width: 100% !important;


    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    z-index: 50;

}


.map-background-poland{
    background-size: 3000px auto !important;
    background-position: -1550px -750px;

    width: 100% !important;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;



    z-index: 50;

}

.map-background-europe{
    background-size: 100% auto !important;
    background-position: 0 -30px;
    border: none;
    width: 100% !important;


    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    z-index: 50;

}
*/
.map-button:hover{
    cursor: pointer;
}
.map-button{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
    border: none !important;
    font-size: 24px;
}

#wczoraj-button{
   background-color: #f33900;
}
#dzis-button{
    background-color: #c58600;
}
#jutro-button{
    background-color: #04d600;
}



.map-div div{
    text-align: center;
}



.button-container {
    position: relative;
    min-height: 500px;

}

.button-container div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-container h4{
    color: black;
    text-align: center;
}

